<mat-toolbar color="primary" class="app-toolbar">
	<div class="toolbar-left d-flex align-center">
		<button mat-icon-button class="hide-desktop" aria-label="Open menu">
			<mat-icon>menu</mat-icon>
		</button>
		<span class="app-title">Mobile Money</span>
	</div>

	<span class="spacer"></span>

	<div class="toolbar-right d-flex align-center">
		<button mat-icon-button aria-label="Notifications">
			<mat-icon>notifications</mat-icon>
		</button>
		<button mat-icon-button aria-label="Account">
			<mat-icon>account_circle</mat-icon>
		</button>
	</div>
</mat-toolbar>
